@media (min-width: 480px) {
	#primary {
		width: 100%;
	}
	#secondary {
		width: 100%;
	}
}

@media (min-width: 768px) {
	#primary {
		width: 45%;
		float: left;
	}
	#secondary {
		width: 45%;
		float: right;
	}
}
